.users{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.spinner{
    position: fixed;
    background-color: rgba(11, 21, 38, 0.47);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}